body {
  background-color: #181e34;
  font-family: "Montserrat", serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.container {
  margin: auto;
  height: 100%;
  max-width: 950px;
  width: 100%;
  padding: 0 25px;
}

/* ниже HEADER */

.header__body {
  display: flex;
  justify-content: space-between;
  height: 114px;
  align-items: center;
}

.header__logo {
  margin-right: 100px;
}

.header__body-inner {
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 34px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-weight: 500;
}

.header__button {
  width: 113px;
  height: 48px;
  background-color: #fff;
  color: #2766ae;
}

/* ниже MAIN__FIRST*/

.main__first {
  background: url("image/main/first/first__bg.jpg") 10% 50% / cover no-repeat;
  padding: 120px 0;
}

.main__first-inner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}


h2 {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 auto;
}

.main__first-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.main__first-left {
  width: 436px;
  height: 159px;

}

span {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #01a2cb;
}

p {

  margin-top: 15px;
}

.main__first-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__button {
  width: 320px;
  height: 56px;
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);

}

.main__button:last-child {
  position: relative;
}

.main__button:last-child::after {
  content: '';
  position: absolute;
  top: 0;
  left: 63%;
  transform: translateX(-50%);
  width: 100vw;
  /* ширина viewport */
  height: 100%;
  background-image: url("image/main/first/button-icon.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ниже MAIN__SECOND */

.main__second-inner {
  display: flex;
  margin: 120px 0;
  flex-direction: column;
  align-items: center;
}

.main__second-p {
  text-align: center;
  width: 513px;
}

.main__second-cards {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.main__second-card {

  border: 2px solid #176bae;
  border-radius: 16px;
  padding: 28px;
  width: 204px;
  height: 141px;
  box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
  background: #197cb8;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
}

.main__second-card p {
  margin-top: 10px;
  text-align: center;
}

.main__second-button {
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
  width: 436px;
  height: 56px;
  margin-top: 30px;
}

/* ниже FOOTER */

footer {
  border-top: 1px solid #323952;
  height: 361px;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.footer__body-left p {
  width: 267px;
}

.footer__body-right {
  display: flex;
}

.footer__body-list {
  margin-right: 103px;
}

ul {
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}